@import 'variables';

.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: $gutter;
  padding: 20px;
  flex-wrap: wrap;
}

.login-card {
  width: 400px;
  max-width: 400px;
  padding: 16px;

  button:first-of-type {
    margin-bottom: $margin;
  }
}

.internal-login {
  padding-top: $padding;
  font-size: $font-size-small;
  text-align: right;
}
