<h2 mat-dialog-title>Configure Workflow Step</h2>
<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Display Name Override</mat-label>
    <input matInput [(ngModel)]="data.stepNameOverride"/>

    <button *ngIf="data.stepNameOverride" matSuffix mat-icon-button aria-label="Clear" (click)="data.stepNameOverride = null">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="data.blockDownstream">
    Block downstream steps until complete
  </mat-slide-toggle>

  <mat-slide-toggle [(ngModel)]="data.isAdminConfirmationRequired">
    Admin confirmation required to finalize a step as "completed"
  </mat-slide-toggle>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
