@import "../../../styles/variables";

.progress-container {
  width: 100%;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: relative;
}

/* Individual step styling */
.progress-step {
  flex: 1;
  position: relative;
  background-color: lightgray; /* Default for incomplete */
  margin-right: 2px; /* Separation/gap between steps */
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
  transition: background-color 0.3s ease;
}

/* Last step has no right margin */
.progress-step:last-child {
  margin-right: 0;
}

/* Completed step */
.progress-step.completed {
  background-color: green;
}
