<div class="workflow-container mat-typography">

  <!-- Column 1: Workflows -->
  <mat-card class="column">
    <mat-card-title>Workflows</mat-card-title>
    <div class="card-instructions">
      Select a workflow to manage its configuration and/or its associated steps, or click <strong>Add New
      Workflow</strong> to configure a new
      one.
    </div>
    <mat-nav-list>
      <div
        *ngFor="let workflow of workflows"
        class="workflow-item"
        (click)="confirmSelectWorkflow(workflow)"
        [class.selected]="workflow.id === selectedWorkflow?.id"
      >
        <div class="workflow-name">
          {{ workflow.name }}
        </div>
        <div *ngIf="workflow === selectedWorkflow" class="workflow-actions">
          <button mat-icon-button [matMenuTriggerFor]="workflowMenu" aria-label="Workflow Actions">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #workflowMenu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon>assignment</mat-icon>
              <span>Manage Job Assignments</span>
            </button>
            <button mat-menu-item (click)="editWorkflow(selectedWorkflow)">
              <mat-icon>edit</mat-icon>
              <span>Edit Workflow</span>
            </button>
            <button mat-menu-item (click)="copyWorkflow(selectedWorkflow)">
              <mat-icon>content_copy</mat-icon>
              <span>Copy to New Workflow</span>
            </button>
            <button mat-menu-item (click)="deleteWorkflow(selectedWorkflow)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete Workflow</span>
            </button>
          </mat-menu>
        </div>

      </div>
    </mat-nav-list>
    <button mat-raised-button color="accent" (click)="createWorkflow()">
      <mat-icon>add_circle</mat-icon>
      Add New Workflow
    </button>
  </mat-card>

  <!-- Column 2: No Workflow Selected -->
  <mat-card class="column" *ngIf="!selectedWorkflow">
    <mat-card-title>Select A Workflow</mat-card-title>
    <div class="card-instructions">
      Select a workflow to configure its steps.
    </div>
  </mat-card>

  <!-- Column 2: Workflow Steps -->
  <mat-card class="column" *ngIf="selectedWorkflow">
    <mat-card-title>{{ selectedWorkflow.name }}</mat-card-title>
    <div class="card-instructions">
      Reorder, configure, or remove steps in the selected workflow. Once finished, click <strong>Save
      Workflow Changes</strong> to finalize your changes.
    </div>
    <div *ngFor="let step of selectedWorkflow.workflowSteps; let i = index" class="step-row" [glowOnInit]="'green'">
      <div class="step-index">{{ i + 1 }}. {{ step | workflowStepName }}</div>
      <div class="step-actions">
        <button mat-icon-button color="primary" (click)="moveStepUp(i)" [disabled]="i === 0"
                matTooltip="Move {{ step | workflowStepName }} upward in {{ selectedWorkflow.name }}.">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="moveStepDown(i)"
                [disabled]="i === (selectedWorkflow.workflowSteps?.length ?? 0) - 1"
                matTooltip="Move {{ step | workflowStepName }} downward in {{ selectedWorkflow.name }}.">
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button mat-icon-button color="primary"
                matTooltip="Configure {{ step | workflowStepName }} for {{ selectedWorkflow.name }}."
                (click)="configureWorkflowStep(step)">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="removeStepFromWorkflow(step)"
                matTooltip="Remove {{ step | workflowStepName }} from {{ selectedWorkflow.name }}.">
          <mat-icon>east</mat-icon>
        </button>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="saveSelectedWorkflow()" [disabled]="!workflowStepsDirty">
      <mat-icon>save</mat-icon>
      Save Workflow Changes
    </button>
  </mat-card>

  <!-- Column 3: Step Pool -->
  <mat-card class="column step-pool">
    <mat-card-title>Step Pool</mat-card-title>
    <div class="card-instructions">
      Manage steps that are reusable across workflows. Click to add them to the current workflow, or click
      <strong>Add New Step</strong> to configure a new one.
    </div>
    <div *ngFor="let step of stepPool" class="step-row clickable" [glowOnInit]="'orange'">
      <div class="step-name" (click)="addStepToWorkflow(step)">{{ step.nameDefault }}</div>
      <div class="step-actions">
        <button mat-icon-button color="primary" *ngIf="selectedWorkflow"
                matTooltip="Add {{ step.nameDefault }} to {{ selectedWorkflow.name }}"
                (click)="addStepToWorkflow(step)">
          <mat-icon>west</mat-icon>
        </button>
        <button mat-icon-button color="primary" disabled
                matTooltip="Configure {{ step.nameDefault }}."
                (click)="configureStep(step)">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button color="warn"
                matTooltip="Delete {{ step.nameDefault }} from the pool and from all workflows."
                (click)="deleteStep(step)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <button mat-raised-button color="accent" (click)="createNewStep()">
      <mat-icon>add_circle</mat-icon>
      Add New Step
    </button>
  </mat-card>

</div>
