@import "variables";

.mat-mdc-raised-button {
  margin-top: $margin;
  height: 48px;
}

.card-instructions {
  color: gray;
  margin-bottom: $margin / 2;
}

.workflow-container {
  display: flex;
  gap: $margin;
  padding: $margin;
  margin: $margin;
  flex-wrap: wrap;

  .workflow-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: $margin;
    height: 16px;

    &.selected {
      background-color: #d0ebff;
    }

    .workflow-name {
      flex: 1;

      mat-icon {
        height: auto;
        width: auto;
        line-height: $font-size;
      }
    }

    .workflow-actions {
      display: flex;
    }
  }
}

.column {
  flex: 1 1 30%;
  padding: $margin;
  max-width: 500px;
  margin: $margin auto;
}

.step-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: ($margin / 4) 0 ($margin / 4) $margin;
  border-bottom: 1px solid #eee;

  .step-name {
    flex: 1;
  }

  .step-actions {
    display: flex;
  }
}

.step-pool {
  .step-row {
    padding: ($margin / 4) 0 ($margin / 4) $margin;
  }
}
