@import "variables";

.search-bar {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  .search-field {
    flex: 1;
    min-width: 150px;
  }

  .button-container {
    display: flex;
    align-items: center;
    height: 56px; // Match the height of mat-form-field
    margin-bottom: 24px; // Small tweak to align with input fields if needed

    button:not(:last-child) {
      margin-right: $margin / 2;
    }

    button {
      height: 100%; // Take the full height of container
      white-space: nowrap;
    }
  }
}

.table-container {
  padding: $padding;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

table {
  th.mat-mdc-header-cell {
    font-weight: 300;
  }

  th.mat-sort-header {
    font-weight: 500;
  }

  td.mat-cell {
    vertical-align: middle;
  }

  td small {
    color: gray;
  }

  mat-progress-bar {
    height: 10px;
    border-radius: 5px;
  }

  tr:hover {
    background-color: #ebebeb;
  }
}

.text-center {
  text-align: center;
}
