<!--<div class="back">-->
<!--  <a href="internal/workflows">-->
<!--    <mat-icon>chevron_left</mat-icon>-->
<!--    Back to-->
<!--    <mat-icon>device_hub</mat-icon>-->
<!--    Workflows-->
<!--  </a>-->
<!--</div>-->
<div class="active-workflow">
  <span *ngIf="activeWorkflowId">Job Title Assignments for <strong>{{activeWorkflow?.name}}</strong></span>
</div>
<div class="container">
  <mat-card class="column">
    <mat-card-title>Workflows</mat-card-title>
    <mat-selection-list [multiple]="false" [(ngModel)]="selectedWorkflows" (selectionChange)="onWorkflowSelected()">
      <mat-list-option *ngFor="let workflow of workflows" [value]="workflow">
        {{ workflow.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card>
  <mat-card class="column">
    <mat-card-title>Job Titles by Company ({{ getAssignmentCount() }} assignments)</mat-card-title>
    <div *ngFor="let companyJobTitle of companyJobTitles" class="company-block">
      <div class="company-header">
        <button mat-icon-button (click)="toggleCompany(companyJobTitle.company.id)">
          <mat-icon>
            {{ isExpanded(companyJobTitle.company.id) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        <span class="company-text"
              (click)="toggleCompany(companyJobTitle.company.id)">
          {{ companyJobTitle.company.name }}<br>
          <small
            *ngIf="activeWorkflowId !== null && getAssignmentCount(companyJobTitle)">{{ getAssignmentCount(companyJobTitle) }} {{ activeWorkflow?.name}}
            assignments</small>
        </span>
      </div>
      <ng-container *ngIf="isExpanded(companyJobTitle.company.id)">
        <div class="job-title" *ngFor="let jobTitle of companyJobTitle.jobTitles">
          <mat-checkbox [checked]="activeWorkflowId !== null && jobTitle.workflowId === activeWorkflow?.id"
                        (change)="setJobTitleWorkflow($event, jobTitle)" [disabled]="activeWorkflowId === null">
            <div class="alt-assignment"
                 *ngIf="jobTitle.workflowId != null && jobTitle.workflowId !== activeWorkflow?.id; else unassigned">
              <small>{{ jobTitle.displayTitle }}<br>Assigned to <strong>{{ jobTitle.workflow?.name }}</strong></small>
            </div>
            <ng-template #unassigned>{{ jobTitle.displayTitle }}</ng-template>
          </mat-checkbox>
        </div>
      </ng-container>
    </div>
  </mat-card>
</div>
