<div class="dashboard-container">
  <div class="job-title"><h1>{{this.candidateWorkflow?.workflow?.name}}</h1></div>
  <div class="progress-bar">
    <app-progress-bar [totalSteps]="this.candidateWorkflow?.candidateWorkflowSteps?.length ?? 0"
                      [completedSteps]="this.candidateWorkflow?.completedSteps ?? 0"></app-progress-bar>
  </div>
  <app-candidate-workflow-step *ngFor="let cws of this.candidateWorkflow?.candidateWorkflowSteps"
                               [cws]="cws"></app-candidate-workflow-step>
</div>
