@import "variables";

.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
}

.job-title {
  background: linear-gradient(135deg, #ebebeb, gray);
  padding: $padding;
  border-radius: 12px;
  margin-bottom: $margin;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: $text-color-light;
  position: relative;
}

.job-title h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}

.progress-bar {
  margin: $margin 0;
}

//.step-wrapper {
//  position: relative;
//  display: flex;
//  align-items: flex-start;
//}
//
//.timeline-line {
//  width: 4px;
//  background: lightgray;
//  position: absolute;
//  top: -8px;
//  bottom: 0;
//  left: 20px;
//  z-index: 0;
//}

//.step-card {
//  border: 2px solid lightgray;
//  border-radius: 12px;
//  padding: 16px 16px 16px 48px;
//  margin-bottom: 16px;
//  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
//  transition: all 0.3s ease;
//  position: relative;
//  background: white;
//  width: 100%;
//}
//
//.step-card::before {
//  content: '';
//  position: absolute;
//  width: 16px;
//  height: 16px;
//  border-radius: 50%;
//  background: lightgray;
//  left: 12px;
//  top: 20px;
//  z-index: 1;
//}
//
//.step-card.complete::before {
//  background: green;
//}
//
//.step-card.pending::before {
//  background: $vqi-blue;
//  animation: pulse 2s infinite;
//}
//
//.step-card.blocked::before {
//  background: $vqi-blue-light;
//}
//
//.step-card.complete {
//  border-color: green;
//  background-color: #e8f5e9;
//}
//
//.step-card.complete .checkmark {
//  color: darkgreen;
//  font-size: 5.5em;
//  position: absolute;
//  top: 8px;
//  rotate: 5deg;
//  right: 8px;
//  z-index: 99;
//}
//
//.step-card.pending {
//  border-color: $vqi-blue;
//  color: $text-color-light;
//  background-color: $vqi-blue-light;
//  animation: pulse 2s infinite;
//}
//
//.step-card.blocked {
//  border-color: $vqi-blue-light;
//  color: $vqi-blue-light;
//  opacity: 0.5;
//  pointer-events: none;
//}
//
//button {
//  padding: 8px 16px;
//  border: none;
//  border-radius: 8px;
//  cursor: pointer;
//  transition: background-color 0.3s ease;
//}
//
//button:disabled {
//  background-color: gray;
//  cursor: not-allowed;
//}
//
//@keyframes pulse {
//  0% {
//    box-shadow: 0 0 0 0 rgba(0, 100, 200, 0.4);
//  }
//  70% {
//    box-shadow: 0 0 0 20px rgba(0, 100, 200, 0);
//  }
//  100% {
//    box-shadow: 0 0 0 0 rgba(0, 100, 200, 0);
//  }
//}
