<nav class="nav-bar">
  <div class="nav-item">
    <a routerLink="/internal/dashboard" routerLinkActive="active-link">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
  </div>

  <div class="nav-item">
    <a routerLink="/internal/workflows" routerLinkActive="active-link">
      <mat-icon>device_hub</mat-icon>
      Workflows
    </a>
    <div class="nav-children">
      <a routerLink="/internal/workflows/assignments" routerLinkActive="active-link">Workflow Assignments</a>
    </div>
  </div>

  <div class="nav-item">
    <a routerLink="/internal/job-titles" routerLinkActive="active-link">
      <mat-icon>supervisor_account</mat-icon>
      Job Titles
    </a>
  </div>
</nav>
