<h2 mat-dialog-title>Pre-Employment Checklist Onboarding</h2>

<mat-dialog-content class="form-container">
  <div class="modal-summary">
    <div class="primary-summary">{{ candidate.fullName }}</div>
    <div class="secondary-summary">
      {{ candidate.atsJobTitle }}
      <mat-icon (click)="copy(candidate.atsJobTitle)"
                matTooltip="Copy {{ candidate.atsJobTitle }} to your clipboard.">content_copy
      </mat-icon>
    </div>
  </div>

  <!-- Info/warning messages re: previously assigned workflow -->
  <div *ngIf="candidate.candidateWorkflowId">
    <app-message-box *ngIf="candidate.candidateWorkflow!.percentComplete! === 0" type="info">
      <strong>{{ candidate.fullNameInformal }}</strong> is already assigned to the
      <strong>{{ candidate.candidateWorkflow?.workflow?.name }}</strong> workflow.
      They have not started that workflow, so there will not be a reset of any current progress if you choose to
      proceed.
    </app-message-box>
    <app-message-box *ngIf="candidate.candidateWorkflow!.percentComplete! > 0" type="warning">
      <strong>{{ candidate.fullNameInformal }}</strong> is already assigned to the
      <strong>{{ candidate.candidateWorkflow?.workflow?.name }}</strong> workflow.
      If you proceed, their current progress ({{ candidate.candidateWorkflow?.percentComplete }}%) will be lost and they
      will begin under their new workflow assignment.
    </app-message-box>
  </div>

  <!-- Company -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Company</mat-label>
    <mat-select [(ngModel)]="selectedCompany" (ngModelChange)="updateFilteredJobTitles('company')"
                [disabled]="showAtsMatchedJobTitles">
      <mat-option *ngFor="let company of companies" [value]="company">
        {{ company.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="select-hint">
    <span>
      {{ showAtsMatchedJobTitles
      ? 'Company selection is unavailable while showing only ATS-matched job titles.'
      : 'Select a company to view that organization\'s job titles.' }}
    </span>
  </div>

  <!-- Job Title (filtered by company) -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Job Title</mat-label>
    <mat-select [(ngModel)]="selectedJobTitle" [disabled]="!filteredJobTitles?.length"
                (ngModelChange)="applyJobTitleSelection()">
      <mat-option *ngFor="let title of filteredJobTitles" [value]="title">
        ({{ title.company.abbreviation }}) {{ title.displayTitle }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="select-hint">
    <mat-checkbox [(ngModel)]="showAtsMatchedJobTitles" (ngModelChange)="updateFilteredJobTitles()"
                  *ngIf="atsMatchedJobTitlesExist">Show only ATS-matched job
      titles
    </mat-checkbox>
    <span *ngIf="!atsMatchedJobTitlesExist">There are no known job title matches for
      <strong>{{ candidate.atsJobTitle }}.</strong></span>
  </div>

  <!-- Alias toggle -->
  <mat-slide-toggle [disabled]="disableJobTitleMatch"
                    [matTooltip]="disableJobTitleMatch && selectedJobTitle ? 'This match is already established and cannot be removed using this utility. To unlink the ATS job title from the official job title, use the Job Titles utility.' : ''"
                    [(ngModel)]="candidateOnboardingRequest.createJobTitleAlias" class="toggle-box"
                    (ngModelChange)="setJobTitlesAsDirty()">
    <ng-container *ngIf="selectedJobTitle as jt; else aliasPrompt">
      Match <strong>{{ candidate.atsJobTitle }}</strong> to this job title.
      <br>
      <small>This job title will be pre-filtered for you the next time {{ candidate.atsJobTitle }} appears.</small>
    </ng-container>
    <ng-template #aliasPrompt>Pair to this job title.</ng-template>
  </mat-slide-toggle>

  <!-- Assigned Workflow -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Assigned Workflow</mat-label>
    <mat-select [(ngModel)]="selectedWorkflow" (ngModelChange)="applyWorkflowSelection()"
                [disabled]="!selectedJobTitle">
      <mat-option *ngFor="let workflow of workflows" [value]="workflow">
        {{ workflow.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Default workflow toggle -->
  <mat-slide-toggle [disabled]="disableWorkflowMatch"
                    [matTooltip]="disableWorkflowMatch && selectedWorkflow ? 'The selected job title already has a default workflow assignment, which cannot be unassigned using this utility. Please go to Workflows -> Workflow Assignments if you wish to modify this job title\'s default workflow assignment.' : ''"
                    [(ngModel)]="candidateOnboardingRequest.assignWorkflowToJobTitle" class="toggle-box"
                    (ngModelChange)="setJobTitlesAsDirty()">
    <ng-container *ngIf="selectedWorkflow as workflow; else defaultWfPrompt">
      Assign <strong>{{ workflow.name }}</strong> to this job title.
      <br>
      <small>This workflow will be selected for you when you select {{ selectedJobTitle?.displayTitle}} as the job
        title.</small>
    </ng-container>
    <ng-template #defaultWfPrompt>Pair to this job title.</ng-template>
  </mat-slide-toggle>

  <!-- Send invite -->
  <mat-slide-toggle [disabled]="!selectedJobTitle" class="toggle-box"
                    [(ngModel)]="candidateOnboardingRequest.sendOnboardingInvite">
    Send onboarding invitation to <strong>{{ candidate.fullName }}</strong>.
    <br>
    <small>
      {{candidate.firstName}} will receive an email invitation to begin the onboarding process.
    </small>
  </mat-slide-toggle>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="disableOnboarding" (click)="onboardCandidate()">
    Onboard <strong>{{ candidate.fullNameInformal }}</strong>
  </button>
</mat-dialog-actions>
