@import "variables";

.table-container {
  padding: $padding;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

table {
  th.mat-header-cell {
    font-weight: 600;
    white-space: nowrap;
  }

  td.mat-cell {
    vertical-align: middle;
  }

  mat-progress-bar {
    height: 10px;
    border-radius: 5px;
  }

  tr:hover {
    background-color: #ebebeb;
  }
}
