<div class="toolbar" role="banner">
  <img ngSrc="assets/images/VQI.svg" alt="Icon" height="107" width="234">
  <div class="spacer"></div>
  <div class="app-info">Pre-Employment Checklist
    <div class="user-info" *ngIf="isAuthenticated">
      Welcome, {{fullName}} ({{role}})<br>
      <a (click)="logout()">Log Out</a>
    </div>
  </div>
</div>
<div class="content" role="main">
  <app-nav-bar-admin *ngIf="isInternal"></app-nav-bar-admin>
  <router-outlet></router-outlet>
</div>
<footer>
  <div>Copyright &copy; 2025 ViaQuest | All Rights Reserved | <a href="https://viaquestinc.com/privacy-policy/"
                                                                  target="_blank">Privacy Policy</a></div>
  <div class="alpha">VQI Employee Onboarding ALPHA</div>
</footer>
