<div class="toolbar" role="banner">
  <img ngSrc="assets/images/VQI.svg" alt="Icon" height="107" width="234">
  <div class="spacer"></div>
  <div class="app-info">Pre-Employment Checklist
    <div class="user-info" *ngIf="isAuthenticated">
      Welcome, {{fullName}}<br>
      <a (click)="logout()">Log Out</a>
    </div>
  </div>
</div>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
<footer>
  <div>Copyright &copy; 2025 ViaQuest | All rights reserved.</div>
  <div class="alpha">VQI Employee Onboarding ALPHA</div>
</footer>
