$font-size-large: 18px;
$font-size: 16px;
$font-size-med: 14px;
$font-size-small: 12px;
$text-color: #333;
$text-color-light: #ebebeb;
$vqi-blue: #004772;
$vqi-blue-light: #477295;
$link-urgent: #8d0700;
$gutter: 64px;
$margin: 16px;
$padding: 16px;
$mat-raised-button-height-full: 56px;
$mat-raised-button-height-full-margin-bottom: 24px;
$box-radius: 6px;
