@import 'variables';

.mat-form-field .mat-input-element {
  background-color: #f0f0f0; // Override input background color
}

.mat-form-field .mat-label {
  color: #004772; // Override label color
}

.mat-form-field .mat-hint {
  color: #477295; // Override hint text color
}
