@use 'vqi-theme';
@import 'variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $font-size;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  cursor: pointer;
  color: $vqi-blue-light;
  text-decoration: underline;
}

a:hover {
  color: $vqi-blue;
}

.full-width {
  width: 100%;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: green;
  }
  .mat-form-field-label {
    color: green;
  }
  .mat-form-field-underline {
    background-color: green;
  }
  .mat-form-field-ripple {
    background-color: green;
  }
  .mat-form-field-required-marker {
    color: green;
  }
}

.content {
  /*display: flex;*/
  margin: 180px auto 64px;
  padding: 0 $padding;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

/* Internal-specific override */
body.internal-area .content {
  max-width: 1600px;
}


